/* CSS RESET TOOL */



/* -------------------------------------------------------------------------------- */

/* ROOT - COLOR VARIABLES, FONT STACK*/

:root {

    /* COLOR THEME */

    --light-blue: #0D8DFB;
    --lightest-blue: #2699FB;
    --blue: #2104D9;
    --navy: #030A8C;
    --dark-navy: #020873;
    --darkest-navy: #020659;
    --purple: #590242;
    --white: #FFFFFF;
    --gray: #c9c9c9;

    /* FONT STACK */
    --font: Verdana, Geneva, Tahoma, sans-serf;

}

/* -------------------------------------------------------------------------------- */




/* BODY STYLES */

/* SKIP LINK STYLE */

/* LINK A STYLES */

/* HEADER STYLES */

/* MENU STYLES */


/* TEXT STYLES */
    /* H1,2,3 STYLES*/

    /* P STYLES */

/* MAIN STYLES */

/* SECTION STYLES */

/* ASIDE STYLES */

/* FORM STYLES */

/* PICTURE STYLES */

/* SVG STYLES */

/* LIST STYLES */

/* FOOTER STYLES */





/* -------------------------------------------------------------------------------- */

/* MEDIA QUERIE: MEDIUM SIZED - 2 COLUMN LAYOUT */



/* MEDIA QUERIE: lARGE SIZED - 3 COLUMN LAYOUT */